:root {
    --color: #333;
    --color-section-title: #333;
    --color-section-title-bg: #DDD;
    --color-body-bg: #FAFAFA;
    --color-tag: #555;  /* tag 颜色比正文颜色略浅 */

    /* tag 颜色 */
    --color-ts: #23527C;
    --color-react: #61DAFB;
    --color-webpack: #8DD6F9;
    --color-npm: #C12127;
    --color-git: #EF391A;
    --color-node: #43853D;
    --color-mongo: #13AA52;
    --color-bdcloud: #2468F2;
    --color-viz: #2468F2;
    --color-graphql: #E10098;
    --color-lerna: #CC00FF;
    --color-jest: #15C213;
    --color-k8s: #184EB1;
    --color-enzyme: #484848;
    --color-docker: #2496ED;
    --color-bdnuomi: #BF4080;
    --color-yog: #585858;
    --color-fis: #585858;
    --color-bdwk: #22AB82;
    --color-bdyd: #58BD5A;
    --color-less: #428BCA;
    --color-jquery: #0769AD;
    --color-zepto: #D4B4FF;
    --color-seu: #718665;
    --color-jlu: #002147;
    --color-gulp: #CF4647;
    --color-php: #8892BF;

    --font-size: 16px;
    --font-size-title: 18px;
    --font-size-sub-title: 16px;
    --font-size-tag: 16px;
    --font-size-mobile: 16px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    // FYI https://zenozeng.github.io/fonts.css/
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", "PingFang SC", Helvetica,
        "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB",
        "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei",
        "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    background-color: var(--color-body-bg);
}

h1, h2, p {
    margin: 0;
}

::selection {
    background-color: var(--color-section-title-bg);
}

/* Tag */
.tag {
    padding: 1px 7px 0;
    margin: 0 1px;

    font-size: var(--font-size-tag);
    color: var(--color-tag);
    background-color: rgba(0, 0, 0, 0);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-decoration: none;
    cursor: pointer;

    transition-property: background, border-radius;
    transition-duration: .13s;
    transition-timing-function: ease;
}
.tag:visited {
    color: var(--color-tag);
}
.tag:hover {
    color: #FFF;
    border-radius: 5px;
}

@mixin tag-color($name) {
    .tag.tag-#{$name} {
        border-color: var(--color-+$name);

        &:hover {
            background-color: var(--color-+$name);;
        }
    }
}

@include tag-color(ts);
@include tag-color(react);
@include tag-color(webpack);
@include tag-color(npm);
@include tag-color(git);
@include tag-color(node);
@include tag-color(mongo);
@include tag-color(bdcloud);
@include tag-color(viz);
@include tag-color(graphql);
@include tag-color(lerna);
@include tag-color(jest);
@include tag-color(k8s);
@include tag-color(enzyme);
@include tag-color(docker);
@include tag-color(bdnuomi);
@include tag-color(fis);
@include tag-color(yog);
@include tag-color(bdwk);
@include tag-color(bdyd);
@include tag-color(less);
@include tag-color(jquery);
@include tag-color(zepto);
@include tag-color(seu);
@include tag-color(jlu);
@include tag-color(gulp);
@include tag-color(php);
